DATABASE_URL=postgresql://networld:Quqo3mLHlgWpuVSpFihn2vgT8Uyx0ZT0@dpg-d6latiua2pns73bu1bk0-a/networldship

# If you need to connect from outside Render, use the external URL instead:
# EXTERNAL_DATABASE_URL=postgresql://networld:Quqo3mLHlgWpuVSpFihn2vgT8Uyx0ZT0@dpg-d6latiua2pns73bu1bk0-a.oregon-postgres.render.com/networldship

API_URL=https://api.example.com/shipment

NEXT_PUBLIC_API_KEY=your_api_key_here

NODE_ENV=development